# SSH Keys
*.pem
*.key
github
github.pub
 
# Environment variables
.env
.env.local
 
# Dependencies
node_modules/
dist/
build/
logs/
run.log


.vs/

# .NET build artifacts
bin/
obj/
 
# IDE
.vscode/
.idea/
 
# OS
.DS_Store
Thumbs.db
/.vs/AmazonTrendsDashboard/FileContentIndex
